body {
  font-family: 'Times New Roman', Times, serif;
  color: #5c5757;
  margin: 0;
  padding: 0;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
header{
  position: sticky; 
  top: 0;
  background-color: black;
  color: white;
  background-size: cover;
  font-size: 16px;
  display:flex;
  justify-content: space-between;
}
header h1 {
  text-align: center;
  padding-left: 20px;
  position: sticky;
  left: 0;
  top: 0;
}
header .dropdown {
  text-align: center;
  
}
footer {
  background-color: rgb(74, 153, 74);
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: auto;
}
.logo{
  max-width: 75px;
  position: sticky;
}
.background_image img{
  width: 100%;
}
a:link{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: #a8a8a8;
} 
a:link:hover, a:visited:hover {
  color: darkgreen;
  font-weight: bold;
}
.centered-section ul{
  list-style-type:none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #335145;
}
nav ul li {
  display: inline;
}
nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1em;
}
nav ul li a:hover {
  background-color: #666;
}
section {
  color:black;
  flex: 1 1 100%;
  font-size: 20px;
  margin: 20px 400px 20px 400px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
  color:black;
  font-size: 20px;
  margin: 20px 400px 20px 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  display: table-header-group;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section image{
  max-width: 70%;
  margin: 10px; 
}
section p,li{
  margin: 20px 150px 10px 150px;
  text-align: justify;
}
section h2,h3{
  text-align: center;
}
section,table li{
  text-align: justify;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 12px;
}
tr {
  width: inherit;
  background-color: #c0daba;
  padding: 5px;
}
thead tr {
  background-color: rgb(101, 179, 101);;
}
.main_image {
  height: 16em;
  width: auto;
  display: inline-block;
}
.dropbtn {
  width: 150px;
  text-align: center;
  background-color: #242424;
  color: white;
  padding: 31px;
  font-size: 16px;
  border: none;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px; 
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media(max-width: 1800px) {
  section, table {
    padding: 20px;
    margin: 20px 100px;
  }
  section p, li {
    margin: 20px 50px 10px;
  }
  .main_image{
    height: 24em;
  }
}

@media(max-width: 1400px) {
  section, table {
    padding: 20px;
    margin: 20px 80px;
  }
  section p, li {
    margin: 20px 40px 10px;
  }
  .main_image{
    height: 16em;
  }
}

@media(max-width: 1024px) {
  section, table {
    padding: 20px;
    margin: 20px 60px;
  }
  section p, li {
    margin: 20px 30px 10px;
  }
  .main_image{
    height: 16em;
  }
}

@media(max-width: 991px) {
  section, table {
    padding: 20px;
    margin: 20px 40px;
  }
  section p, li {
    margin: 20px 20px 10px;
  }
}
@media(max-width: 767px) {
  section, table {
    padding: 20px;
    margin: 20px;
  }
  section p, li {
    margin: 20px 10px 10px;
  }
}
.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px 50px 20px 20px;
  color: 	black;
  background-color: 	#c0daba;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border: none;
  width: 400px;
  margin-bottom: 20px;
}
.form-group > *{
  margin-bottom: 25px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group legend {
  display: block;
  font-size: 26px;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  word-wrap: break-word;
  align-content: start;
}
.form-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background-color: #45a049;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 2em;
  color: #757575;
}

.rating input:checked ~ label {
  color: gold;
}
.modalButton{
  padding: 20px;
  color: black;
  background-color: #bacfc1;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #e6f0e9;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  border-radius: 14px;
}
.modal-content-text{
  display: flex;
  flex-direction: column;
}
.modal-content ol {
  list-style-type: decimal;
  padding-left: 10%;
}
.modal-content ul {
  list-style-type: circle;
  padding-left: 10%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}